<% layout('/layouts/boilerplate') %>

<h3 class="mt-4">Result of: <span class="s-title"><%= q %></span></h3>
<% if(searchedListings.length<=0){ %>
<div class="row">
  <h3 class="ms-auto text-center text-danger">Not Found</h3>
</div>
<% } %> <% if(searchedListings.length>0){ %>
<div
  class="row row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 row-cols-md-2 row-cols-sm-1 mt-4"
>
  <% for (const listing of searchedListings) {%>

  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card">
      <img
        src="<%= listing.image.url%>"
        class="card-img-top photo"
        alt=" <%= listing.title%>"
        style="height: 20rem"
      />
      <div
        class="card-img-overlay d-flex flex-column row-gap-3 justify-content-center align-items-center"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
        <b> <p class="listing-view-link">View Details</p></b>
      </div>
      <div class="card-body">
        <p class="card-text">
          <b> <%= listing.title%></b>
          <br />
          &#8360; <%= listing.price.toLocaleString("en-PK") %> /Night
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
<% } %>
