<% layout('/layouts/boilerplate') %>

<div class="row my-4">
  <div class="col-md-8 offset-md-3">
    <h2><%= listing.title %></h2>
  </div>
  <div class="card col-md-6 offset-md-3 mt-4">
    <img
      src="<%= listing.image.url%>"
      class="card-img-top show-img"
      alt="<%= listing.title %>"
    />
    <div class="card-body ">
      <p class="card-text">
      <p>  Owned By: <span class="badge text-bg-info"> @<%= listing.owner.username%></span></p>
       
        <h4>Description: </h4> <%= listing.description %> <br />
      <h4>Price: </h4>  &#8360; <%= listing.price.toLocaleString("en-PK") %>
        <br />
     <h4>Location: </h4>   <%= listing.location %> <br />
    <h4>Country: </h4>            <%= listing.country %>
      </p>
    </div>
  </div>
</div>
<% if(currUser && currUser._id.equals(listing.owner._id)){ %>
<div class="btns-div mb-4">
  <a
    href="/listings/<%= listing._id %>/edit"
    class="btn btn-primary col-md-2 offset-md-3 add-btn"
    >Edit</a
  >

  <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
    <button class="col btn btn-outline-dark offset-4">Delete</button>
  </form>
</div>
<% } %>


<!-- REVIEW FORM -->

<div class="row">
<div class="col-md-8 offset-md-3">
<h4>Leave a Review</h4>
<form action="/listings/<%= listing._id %>/reviews" method="post" class="mt-4 needs-validation mb-3"   novalidate>


  <label for="">Rating</label>
 <fieldset class="starability-slot mt-3">

  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>


 <div class="mb-3">
    <label for="comment" class="form-label">Comments</label>
 <textarea name="review[comment]" id="comment" cols="30" rows="5"  class="form-control" required></textarea>
   <div class="invalid-feedback">
      Please provide a valid Comment.
    </div>
 </div>
 <button class="btn btn-outline-dark  ">Submit</button>
</form>



<% if( listing.reviews.length) {%>
  <hr>
  <h4>All Reviews</h4>
  <% } %>

<div class="row">

      <% for(review of listing.reviews){ %>

   <div class="card review-card col-5 ms-3 ">
    <div class="card-body">
      <h5 class="card-title">@<%=review.author.username  %> </h5>
      <p class="card-text"><%= review.comment %></p>
      <p class="starability-result card-text" data-rating="<%= review.rating  %>">
        Rated: 3 stars
      </p>
    </div>

    <% if(currUser && currUser._id.equals(review.author._id)) {%>
    <form action="/listings/<%= listing._id %>/reviews/<%=review._id %>?_method=DELETE" method="post" class="my-3">
      <button class="btn btn-sm  btn-dark">Delete</button>
    </form>
    <% } %>
   </div>

    <% } %>

</div>
</div>
</div>
